    {% extends "base.html" %}

    {% block content %}
    <section class="about" id="about">
        <div class="about-img">
            <img src="{{ url_for('static', filename='images/Sweet and Spicy Chicken Popcorns .jpg') }}" alt="About">
        </div>
        <div class="about-content">
            <h2 class="heading">About Us <span>Recipes</span></h2>
            <img src="C:\Users\juman\Animation-Taste-Show\Animation-Recipe-Show\app\static\images\Sweet And Spicy Chicken Popcorns .jpg" alt="">
                <h3>Spotlight Recipes</h3>
                <p>Welcome to Taste Of Anime, your go-to destination for delicious recipes, cooking tips, and culinary inspiration. Whether you're a novice in the kitchen or a seasoned chef, we're here to help you create mouthwatering meals that delight your taste buds and impress your loved ones. From quick and easy weeknight dinners to indulgent desserts and everything in between, we've got you covered. Join our community of food lovers and embark on a culinary journey that's sure to satisfy your cravings and ignite your passion for cooking. So come on in, explore our diverse recipe collection, and let's embark on a delightful gastronomic adventure together, Let's get cooking!</p>
            </div>
    </section>
    {% endblock %}