{% extends "base.html" %}

{% block content %}
<div class="categories">
    <h2>Categories</h2>
    <div class="box">
        <div class="ca-card">
            <img src="appetizer-recipe/maincorse-italian.jpg" alt="">
            <div class="content">
                <h3>Main Courses</h3>
                <p>Chicken Francese is pounded chicken breast dredged in flour, dipped in egg, fried in olive oil and simmered in a sauce of lemon, white wine, garlic and herbs.</p>
                <button>Read More</button>
            </div>
        </div>
        <div class="ca-card">
            <img src="appetizer-recipe/Baileys Cookies and Cream Parfaits.jpg" alt="">
            <div class="content">
                <h3>Desserts</h3>
                <p>These Baileys cookies and cream parfaits are a decadent dessert packed with layers of thick chocolate cream, boozy Baileys cream, and crumbled Oreo cookies.</p>
                <button>Read More</button>
            </div>
        </div>
        <!-- More category cards... -->
    </div>
</div>
{% endblock %}