{% extends "base.html" %}

{% block content %}
<section class="contact">
    <div class="contact-info">
        <h2>Contact Information</h2>
        <p><strong>Address:</strong> 40100 Main Street, Nairobi city, country (Kenya)</p>
        <p><strong>Phone:</strong> +254-793653586</p>
        <p><strong>Email:</strong> nouristerjuma@gmail.com</p>
    </div>
    <div class="contact-form">
        <h2>Contact Form</h2>
        <form>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <label for="message">Message:</label>
            <textarea name="message" id="message" required></textarea>
            <button type="submit">Send Message</button>
        </form>
    </div>
</section>
{% endblock %}

{% block footer %}
    <footer>
        <div class="footer-content">
            <h3>Taste Of Anime</h3>
            <p>Your go-to destination for delicious recipes, cooking tips, and culinary inspiration.</p>
            <p>Copyright &copy; 2024 | All Rights Reserved.</p>
        </div>
    </footer>
{% endblock %}