{% extends "base.html" %}

{% block content %}
<div class="background">
    <div class="content">
        <h1>Delight in Palate Pleasures</h1>
        <h3>Master the Art of Culinary Excellence</h3>
        <h4>Channel Your Culinary Enthusiasm</h4>
        <div class="button">Embark on the Amazing Journey of Cooking</div>
    </div>
</div>
<div class="recipe">
    <h2>Spotlight Recipes</h2>
    <div class="box">
        <!-- Repeat for each recipe card -->
        <div class="card">
            <img src="appetizer-recipe/Shrimp Recipes.jpg" alt="">
            <div class="content">
                <h3>Recipe 1</h3>
                <p>Shrimp and Chorizo Appetizers with Roasted Pepper Soup — These punchy and flavorful skewers are packed with spicy chorizo and shrimp, served with homemade roasted pepper soup shooters.</p>
                <button>View Recipe</button>
            </div>
        </div>
        <!-- More recipe cards... -->
    </div>
</div>
{% endblock %}